.hidden {
  display: none;
}

html,
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font: 400 bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: aqua;
}

.rps-button {
  size: 50px;
  background-color: blue;
}
